.row {
  width: 100%;
}
.clearfix,
.row:after,
.container:after {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 100%;
  position: relative;
}

.container-restricted {
  @extend .container;
  position: relative;
  max-width: $site-content-width;
  margin: 0 auto;
}

@for $i from 1 through 12{
  $width :(100/12*$i)#{'%'};
  .col-xs-#{$i}{
    width:$width;
  }
}


[class|="col-xs"],
[class|="col-sm"],
[class|="col-md"],
[class|="col-lg"],
[class|="col-xl"]{
  @extend .left;
}


@media only screen and (min-width: 600px) {
  @for $i from 1 through 12{
    $width :(100/12*$i)#{'%'};
    .col-sm-#{$i}{
      width:$width;
    }
  }
}
/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  @for $i from 1 through 12{
    $width :(100/12*$i)#{'%'};
    .col-md-#{$i}{
      width:$width;
    }
  }
}
/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  @for $i from 1 through 12{
    $width :(100/12*$i)#{'%'};
    .col-lg-#{$i}{
      width:$width;
    }
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  @for $i from 1 through 12{
    $width :(100/12*$i)#{'%'};
    .col-xl-#{$i}{
      width:$width;
    }
  }
}