<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Exodus - RSPS</title>

    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Julius+Sans+One|Krona+One|Quattrocento+Sans|Righteous|Russo+One|Sedgwick+Ave+Display" rel="stylesheet">
    <link rel="stylesheet" href="/css/themes/default_theme.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<nav class="default texture tile_texture">
    <img class="logo" src="images/logo.png"/>
    <div class="container">
        <li class="active">Home</li>
        <li>Forum</li>
        <li>Vote</li>
        <li>Store</li>
        <li>Store</li>
    </div>
</nav>


    <div class="header">
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>

        <div class="container container-restricted">

            <div class="col-xs-7">
                <img src="/images/logo_text.png" style="display:block;margin:0 auto;"/>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="repeat background_texture_org_red_sq button-lg">DOWNLOAD</div>
                    </div>
                    <div class="col-xs-6">
                        <div class="texture background_texture_pink_org_sq button-lg">DOWNLOAD</div>
                    </div>
                </div>
            </div>

            <div class="col-xs-5" style="text-align:right;position:relative;left:40px;">

                <div class="login" style="">
                    <h1 style="color:rgb(255, 255, 255)">Login</h1>
                    <hr/>
                    <label for="username">Username:</label>
                    <input type="text" id="username" class="username" required/>

                    <label for="password">Password:</label>
                    <input type="password" id="password" class="password" required/>
                    <div class="button_login">LOGIN</div>
                </div>
            </div>
        </div>
    </div>

<div class="container container-restricted">
    <div style="
        background-color:rgb(14, 9, 9);
        color:white;


        overflow:hidden;
        max-width:75%;

        float:left;-webkit-box-shadow: -1px -5px 94px -28px rgba(245,14,53,1);
        -moz-box-shadow: -1px -5px 94px -28px rgba(245,14,53,1);
        box-shadow: -1px -5px 94px -28px rgba(245,14,53,1);
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);">

        <div class="section_inner" style="position:relative;
            overflow:hidden;
            width:100%;
            overflow:hidden;">

            <section class="article">
                <header>
                    <img src="images/article_icon_1.png" width="50px" height="50px" style="float:left;padding-right:5px;" /> This is some content
                    <small style="position:absolute;color:rgb(21, 185, 103);right:30px;font-size:12px;">Posted by: exodus</small>
                </header>
                <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                    voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                    sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                    Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
            </section>

            <section class="article">
                <header>
                    <img src="images/article_icon_1.png" width="50px" height="50px" style="float:left;padding-right:5px;" /> This is some content
                    <small style="position:absolute;color:rgb(21, 185, 103);right:30px;font-size:12px;">Posted by: exodus</small>
                </header>
                <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                    voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                    sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                    Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
            </section>


            <section class="article">
                <header>
                    <img src="images/article_icon_1.png" width="50px" height="50px" style="float:left;padding-right:5px;" /> This is some content
                    <small style="position:absolute;color:rgb(21, 185, 103);right:30px;font-size:12px;">Posted by: exodus</small>
                </header>
                <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                    voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                    sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                    Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
            </section>





        </div>
    </div>


    <div style="background-color:black;
        max-width:22%;
        overflow:hidden;
        float:right;
        -webkit-box-shadow: -1px -5px 94px -28px rgba(245,14,53,1);
        -moz-box-shadow: -1px -5px 94px -28px rgba(245,14,53,1);
        box-shadow: -1px -5px 94px -28px rgba(245,14,53,1);
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);">
        <section class="article">
            <header>This is some content</header>
            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
                autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>

        </section>

    </div>

    <footer style="background:rgb(12, 10, 10);height:200px;width:70%;margin:0 auto;opacity:0.5;">


    </footer>
</div>
</body>
</html>