/*
  Define default base css
  e.g p,h1,h2,h3,h4,h5
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:$default-font-family;
  font-size:$default-font-size;
  color:$default-text-color;
  position: relative;
  overflow-x:hidden;
  background:#1a1919;
}




h1,h2,h3,h4,h5{
  font-family:$header-font-family;
  font-weight:$default-font-weight;
  color:$header-font-color;
}


small{
  font-size:0.6em;
}

label{
  font-size:0.7em;
  line-height:3.2em;
}

.no-wrap{
  white-space:nowrap;
}

header{

}

footer{

}

aside{

}

/**
  Style individual inputs
 */
input[required]{

}
input[type=text]{

}
input[type=password]{

}

input[minlength]{

}

input[maxlength]{

}

button[type=submit]{

}

nav.default {
  height: 65px;
  position: relative;
  z-index: 5000;
  opacity: 1;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  position: fixed;
  width: 100%;
  list-style-type: none;
  text-align:center;


  img.logo{
    float: left;
    width:150px;
    height:auto;
    position:relative;
    left:80px;
  }


  li{
    display: inline-block;
    padding: 14px 2%;
    margin-left: 5px;
    top: 5px;
    position: relative;
  }

  .nav_links{
    text-align:right;
  }

  @media only screen and (max-width: 900px){
    .nav_links{
      text-align:center;
    }

      li {
        padding: 14px 0%;
        right:20px;
      }
    img.logo{
      left:60px;
    }

  }
  @media only screen and (max-width: 1280px) {
    .dropdown {
      width: 95%;
      font-size: 0.7em;

    }
  }

  .dropdown{
    text-align:center;
    vertical-align:center;
    position:relative;
    top:4px;
    background: #342b24;
    border:1px solid black;
    font-size:0.8em;
    line-height:50px;
    white-space: nowrap;
    overflow: hidden;

  }

  .dropdown:hover .dropdown-content{
    display:block;
  }

  .dropdown-content{
    display:none;
    padding:5px;
    width:100%;
    min-width:100%;

  }

  .dropdown-content ul > li{
    display:block;
    background: #342b24;
    border: 0px solid white;
    border-top-width: 2px;


  }


  li.active{
    text-decoration: underline;
    background: #342b24;
    animation:5s huerot infinite alternate-reverse;
  }

  a{
    animation:5s huerot infinite alternate-reverse;
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(252, 58, 35);
    opacity: 1;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;


    &:hover{
      transform: scale(1.1, 1.1);
      text-decoration: underline;
      color: #fff8f6;
      cursor: pointer;
    }
  }
}


p{
 font-size:1em;
}

h1{
  font-size:2em;
  color:$h1-color;
}

h2{
  font-size:1.8em;
  color:$h2-color;
}

h3{
  font-size:1.6em;
  color:$h3-color;
}

h4{
  font-size:1.4em;
  color:$h4-color;
}

h5{
  font-size:1.2em;
  color:$h5-color;
}

@keyframes scale_bg{
  from{
    transform:scale(1,1);

  }
  to{
    transform:scale(1.2,1);
  }
}

.site_overlay{
  background-attachment: fixed;
  position:absolute;
  top:0px;
  width:100%;
  height:100%;
  opacity:1;
  overflow:hidden;
  animation:10s bg infinite alternate-reverse;
}

@media only screen and (max-width: 992px){
  .site_overlay{
    animation:none;
    background:url('/images/bg.png');
    background-position:top;
    background-attachment: fixed;
  }

  .login{
    display:none;
  }
}
.texture{
  background-repeat: no-repeat;
  background-size:100% 100%;
}

.repeat-x{
  background-repeat:repeat-x;

}
.repeat-y{
  background-repeat:repeat-y;
}

.repeat{
  background-repeat:repeat;
}


.tile_texture{
  background-image: url('/images/tile_texture.png');
}

.lava_texture{
  background-image: url('/images/lava_texture.png');
}

.rock_texture{
  background-image: url('/images/rock_texture.png');
}

.donator_icon {
  background-image: url('/images/donator_icons.png');
  border-width: 0px;
  width: 64px;
  height: 64px;
  display: inline-block;
  transform: scale(0.5, 0.5);
}

.donator_purp {
  background-position: 0 0;
}

.donator_orange {
  background-position: 196px 0;
}

.donator_blue {
  background-position: 128px 0;
}

.donator_pink {
  background-position: 64px 0;
}

.background_texture_blue_sq {
  background-image: url('/images/btn_bg.png');
}

.background_texture_pink_org_sq {
  background-image: url('/images/btn_bg_1.png');
}

.background_texture_org_red_sq {
  background-image: url('/images/btn_bg_2.png');
}

.background_texture_pink_org_di {
  background-image: url('/images/btn_bg_3.png');
}

.header_button {
  text-align:center;
  font-size:20px;
  height: 50px;
  line-height: 50px;
  width:100%;

  &:hover{
    transform:scale(1.1,1.1);
  }
}

.left{
  float:left;
}

.right{
  float:right;
}

.no-float{
  float:none;
}

.center-block{
  display:block;
  margin: 0 auto;
}

%button-default{
  font-family:$default-font-family;
  text-align:center;
  width:100%;
  margin:0 auto;
  cursor:pointer;
  border-style:none;
  color:#f3f3f3;
}

.button-xs {
  @extend %button-default;
  height: $button_xs_height;
  line-height: $button_xs_height;
  font-size:$button_xs_height/2;
}
.button-sm {
  @extend %button-default;
  height: $button-sm_height;
  line-height: $button-sm_height;
  font-size:$button_sm_height/2;
}
.button-md {
  @extend %button-default;
  height: $button_md_height;
  line-height: $button_md_height;
  font-size:$button_md_height/2;
}
.button-lg {
  @extend %button-default;
  height: $button_lg_height;
  line-height: $button_lg_height;
  font-size:$button_lg_height/2;
}
.button-xl {
  @extend %button-default;
  height: $button_xl_height;
  line-height: $button_xl_height;
  font-size:$button_xl_height/2;
}


@for $c from 1 through 5 {
  @for $i from 1 through 9 {
    $scale: #{$c}#{'x'}#{$i};
    $scaleTest: #{$c}#{'.'}#{$i};
    .hover-scale-#{$scale}:hover {
      transform: scale($scaleTest, $scaleTest);
    }
  }
}

@for $c from 1 through 10{
  $width:$c * 10;
  .width-#{$width}{
    width:#{$width}#{'%'};
  }
}



